---
BasedOnStyle: LLVM
ColumnLimit: 200
# Explicitly override LLVM's default indentation
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
ContinuationIndentWidth: 4
AccessModifierOffset: -4
PointerAlignment: Left