[submodule "vendor/busybox"]
	path = vendor/busybox
	url = https://github.com/hust-oscomp2025/busybox.git

[submodule "vendor/lwext4"]
	path = vendor/busybox
	url = https://github.com/hust-oscomp2025/lwext4.git
[submodule "vendor/opensbi"]
	path = vendor/busybox
	url = https://github.com/hust-oscomp2025/opensbi.git
